.input-container {
    display: flex;
}

.input-column {
    flex: 1;
    padding: 1px;
}

.input-div {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.input-how-good,
.input-how-like {
    width: 500px;
    text-align: center;
    margin: 0px;
}
