.input-div {
    background-color: lightblue;
}

.input-how-good {
    width: 50px;
    background-color: gold;
    text-align: center;
}
.input-how-like {
    width: 2.5%;
    background-color: gold;
    text-align: center;
}