.App {
    background-color: white;
    height: 100vw;
    width: 100vw;
    overflow-y: hidden;

}

body {
    height: 100vw;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
}

.input-container {
    display: flex;
    overflow-y: scroll;
    height: 33vh;
}

.input-column {
    flex: 1;
    padding: 1px;
}

.input-div {
    background-color: rgb(233, 223, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}

.input-how-good,
.input-how-like {
    color: red;
    width: 500px;
    text-align: center;
    margin: 0px;
}